
*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slide{
    width: 100vw;
    height: 100vh;
}
.container{
    max-width: vw(1312px);
    margin: 0 auto;
}
@media(max-width: 460px){
    .container{
        max-width: 100%;
        padding: 0 vwm(16px);
    }
}
html{
    @include respond(big-screen){
        font-size: 110%;
    }
    @include respond(tab-lend){
        font-size: 90%;
    }
    @include respond(tab-port){
        font-size: 80%;
    }
    @include respond(phone){
        font-size: 70%;
    }
}
