.cookie{
    position: fixed;
    bottom: -30vh;
    left: vw(16px);
    z-index: 9999999;
    border-radius: 16px;
    background-color: $color-black;
    transition: 0.5s all ease-in-out;
    &__container{
        padding: vw(16px) vw(24px);
        display: flex;
        gap: vw(14px);
    }
    &__img{
        width: vw(48px);
        height: vw(48px);

    }
    &__txt{
        width: vw(300px);
        color: $color-white;

    }
    &__btn{
        height: fit-content;
        border-radius: 32px;
        padding: vw(8px) vw(12px);
        color: $color-white;
        background-color: $color-accent;
        cursor: pointer;
        border: none;

    }
}
.cookie-active{
    bottom: vw(16px);
}
.btn-green, .btn-white{
    transition: .2s all ease-in-out;
}
.btn-green:hover , .btn-green:focus, .btn-green:active{
    background-color: $color-accent-dark;
}
.btn-white:hover , .btn-white:focus, .btn-white:active{
    background-color: $color-accent-light;
    border: 1px solid $color-accent;
    color: $color-accent;
}
.link-green{
    transition: .2s all ease-in-out;
}
.link-green:hover , .link-green:focus, .link-green:active{
    color: $color-accent;
}
.separator{
    border-bottom: 1px solid $color-gray-medium;
}