@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-Thin.otf') ;
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-ThinItalic.otf') ;
	font-weight: 100;
	font-style: italic;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-ExtraLight.otf') ;
	font-weight: 200;
	font-style: normal;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-ExtraLightItalic.otf') ;
	font-weight: 200;
	font-style: italic;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-Light.otf') ;
	font-weight: 300;
	font-style: normal;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-LightItalic.otf') ;
	font-weight: 300;
	font-style: italic;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-Regular.otf') ;
	font-weight: 400;
	font-style: normal;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-Medium.otf') ;
	font-weight: 500;
	font-style: normal;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-MediumItalic.otf') ;
	font-weight: 500;
	font-style: italic;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-Bold.otf') ;
	font-weight: 700;
	font-style: normal;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-BoldItalic.otf') ;
	font-weight: 700;
	font-style: italic;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-ExtraBold.otf') ;
	font-weight: 800;
	font-style: normal;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-ExtraBoldItalic.otf') ;
	font-weight: 800;
	font-style: italic;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-Black.otf') ;
	font-weight: 900;
	font-style: normal;
}
@font-face {
    font-family: "TT Norms";
    src: url('../fonts/TTNorms-BlackItalic.otf') ;
	font-weight: 900;
	font-style: italic;
}

@import "./reset.scss";
@import "./abstract/functions";
@import "./abstract/mixins";
@import "./abstract/variables";

@import "./base/base";
@import "./base/typography";
@import "./base/utilities";
@import "./base/animations";

@import "./layout/header";
@import "./layout/navigation";
@import "./layout/sidebar.scss";
@import "./layout/footer";
@import "./layout/product-card";


@import "./pages/home";
