.main-screen{
    width: 100vw;
    height: 100vh;
    transition: 1s all ease-in-out;
    background: #dcd4d5;
    padding: vw(102px) 0;
    z-index: 1;
    position: absolute;
    top: 0;
    &__pots-mobile{
        display: none;
    }
    &__title{
        font-size: 7.25vw;
        margin-bottom: vw(16px);
        .txt-right{
            display: inline-block;
            width: 100%;
        }
    }
    &__txt{
        font-size: vw(16px);
        display: block;
        max-width: vw(420px);
        margin: 0 auto 3vw;
        color: $color-gray;
    }
     &__pots{
        position: relative;
     }
    &__pots-img{
        width: 100%;
    }
    &__reviews{
        display: flex;
        gap: 8px;
        align-items: center;
        .reviews__imgs{
            img{
                width: vw(56px);
                height: vw(56px);
                border-radius:  100%;
            }
            .reviews__imgs-2{
                margin-left: - vw(14.4px);
            }
        }
        .reviews__count{
            color: $color-accent;
            font-size: vw(40px);
            font-weight: 500;
        }
        .reviews__txt{
            max-width: 10vw;
            font-size: vw(14px);
            line-height: 120%;
            color: $color-gray;
            a{
                color: $color-gray;
                text-decoration: underline;
            }
        }
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__advantages{
        display: flex;
        gap: 4px;
        .advantage{
            border-radius: 24px;
            width: vw(148px);
            padding: 12px;
            background-color: $color-black-24;
            display: flex;
            justify-content: center;
            color: $color-white;
        }
    }
    &__product{
        position: absolute;
    }
    .main-screen__product-1{
        top: -23%;
        right: 13%;
    }
    .main-screen__product-2{
        top: -30%;
        right: 21%;
    }
    .main-screen__product-3{
        top: -40%;
        right: 29%;
    }
    .main-screen__product-4{
        top: -78%;
        right: 34%;
    }
    .main-screen__product-5{
        top: -45%;
        right: 44%;
    }
    .main-screen__product-6{
        top: -20%;
        right: 54%;
    }
    .main-screen__product-7{
        top: -35%;
        right: 63%;
    }
    &__product-card{
        flex-direction: column;
        padding: vw(8px);
        background-color: $color-black-32;
        border-radius:16px;
        backdrop-filter: blur(10px);
        border: 1px solid $color-gray-medium;
        width: vw(232px);
        display: flex;
        opacity: 0;
        transition: 0.5s all ease-in-out;
        visibility: hidden;
        overflow: hidden;
        z-index: 1;
    }
    &__product-img{
        width: 100%;
        object-fit: cover;
        margin-bottom: vw(16px);
    }
    &__product-name, &__product-price{
        color: $color-white;
        padding: 0 vw(8px);
    }
    &__product-name{
        margin-bottom: vw(6px);
    }
    &__product-price{
        margin-bottom: vw(8px);
        font-size: vw(16px);
        font-weight: 500;
    }
    &__product-dot:hover{
        background-color: $color-accent;
        cursor: pointer
    }
    &__product-dot:hover + &__product-card{
        opacity: 1;
        visibility: visible;
    }
    &__product-dot{
        position: absolute;
        bottom: 0;
        left: 0;
        width: vw(32px);
        height: vw(32px);
        border-radius: 100%;
        backdrop-filter: blur(10px);
        background-color: $color-black-32;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s all ease-in-out;
        transform: translateX(-75%) translateY(75%);
        z-index: 2;
        div{
            background-color: $color-white;
            width: vw(14px);
            height: vw(14px);
            border-radius: 100%;
        }
    }
}
.categories{
    transition: 1s all ease-in-out;
    width: 100vw;
    height: calc(100vh + vw(32px));
    background-color: $color-white;
    position: absolute;
    top: 100vh;
    z-index: 2;
    padding: vw(120px);
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    margin-top:- vw(32px);
    &__subtitle, &__title{
        text-align: center;
    }
    &__list{
        display: flex;
        gap: vw(24px);
        .category{
            width: vw(200px);
            position: relative;
            height: 46.3vh;
            border-radius: 24px;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: .5s all ease-in-out;
            &__background{
                position: absolute;
                top: 0;
                left: 0;
                width:100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
            &__filter{
                position: absolute;
                top: 0;
                left: 0;
                width:100%;
                height: 100%;
                z-index: 2;
                background: linear-gradient(180deg,rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 1) 100%);
                opacity: .7;
            }
            &__tag{
                position: relative;
                height: vw(39px);
                z-index: 3;
                width: fit-content;
                padding: 11px 20px;
                display: flex;
                justify-content: center;
                border: 1px solid $color-white;
                border-radius: 20px;
                white-space: nowrap;
                margin: 0 auto;
                margin-top: vw(35px);
                color: $color-white;
            }
            &__info{
                position: relative;
                z-index: 3;
                display: flex;
                flex-direction: column;
                gap: 8px;
                margin-top: auto;
                margin-bottom: vw(30px);
            }
            &__name{
                color: $color-white;
                font-size: vw(24px);
                font-weight: 500;
                line-height: 100%;
                text-align: center;
            }
            &__bottom{
                display: flex;
                justify-content: space-between;
                display: none;
            }
            &__txt{
                color: $color-white;
                font-size: vw(16px);
                font-weight: 300;
                width: vw(480px);
                opacity: 0;
                transition: 1s all ease-in-out;
            }
            &__arrow{
                width: vw(48px);
                height: vw(48px);
                object-fit: contain;
            }
        }
        .category_active{
            width: vw(643px);
            padding: vw(24px);
            .category__txt{
                opacity: 1;
            }
            .category__filter{
                opacity: 0;
            }
            .category__tag{
                opacity: 0;
            }
            .category__info{
                background-color: $color-black-32;
                border-radius:16px;
                backdrop-filter: blur(10px);
                padding: vw(16px) vw(24px);
                margin-bottom: 0;
            }
            .category__bottom{
                display: flex;
            }
            .category__name{
                font-size: vw(32px);
                font-weight: 500;
                text-align: left;
            }
        }
    }
    .categories__list-mobile{
        display: none;
    }
    .swiper-slide{

        .swiper-slide__container{
            background-color: $color-gray-light;
            border-radius: 24px;
            padding: vwmb(16px);
            width: 35vw;
        }
        .swiper-slide__img{
            border-radius: 16px;
            overflow: hidden;
            margin-bottom: vwmb(16px);
            height: 200px;
            width: 248px;
            object-fit: cover;
        }
        .swiper-slide__name{
            font-size: vwmb(24px);
            font-weight: 500;
            margin-bottom: vwmb(8px);
            line-height: 100%;
        }
        .swiper-slide__txt{
            font-size: vwmb(14px);
            line-height: 100%;
            margin-bottom: vwmb(24px);
        }
        .swiper-slide__link{
            padding: vwmb(12px) vwmb(24px);
            font-size: vwmb(16px);
            line-height: 100%;
            color: $color-white;
            display: flex;
            gap: vwmb(8px);
            align-items: center;
            background-color: $color-accent;
            border-radius:24px;
            width: fit-content;
        }
    }
    .categories__swiper-pagination{
        width: fit-content;
        margin: 8px auto 0;

    }
}
.swiper-pagination-bullet{
    height: 5px;
    width: 5px;
}
.swiper-pagination-bullet-active{
    background: $color-black;
    width: 16px;
    border-radius: 8px;
}
.swiper-main-page{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.chars{
    transition: 1s all ease-in-out;
    width: 100vw;
    height: calc(100vh + vw(32px));
    background-image: url("../img/mramornyi-stol 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    margin-top:- vw(32px);
    position: absolute;
    top: 200vh;
    z-index: 4;
    padding: vw(120px) vw(90px);
    &__title{
        margin-bottom: vw(56px);
    }
    .shema{
        position: relative;
        width: fit-content;
        position: absolute;
        bottom: 8%;
        transform: translateX(-50%);
        left: 50%;
        &__adv-list-mobile{
            display: none;
        }
        &__adv-ico{
            width: vw(24px);
            height: vw(24px);
            min-width: vw(24px);
            min-height: vw(24px);
        }
        &__img{
            width: 28vw;
            max-height: 500px;
            object-fit: contain;
        }
        &__adv-list{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &__adv-item{
            background-color: $color-black-24;
            border-radius:16px;
            backdrop-filter: blur(10px);
            padding: vw(24px);
            position: absolute;
            width: vw(390px);
            display: flex;
            gap: 8px;
            align-items: center;
            transition: 0.5s all ease-in-out;
            cursor: pointer;
            .shema__adv-txt{
                display: none;
            }
        }
        &__adv-number{
            position: absolute;
            right: 0.2%;
            padding: vw(10px);
            width: vw(48px);
            height: vw(48px);
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(100%);
            span{
                background-color: $color-white;
                border-radius: 100%;
                width: vw(27px);
                height: vw(27px);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: vw(16px);
                position: relative;
                z-index: 1;
            }
        }
        &__adv-number-left{
            left:0.2%;
            right: initial;
            transform: translateX(-100%) scaleX(-1);
            span{
                transform:scaleX(-1);
            }
        }
        &__adv-bg{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: 0.5 all ease-in-out;
        }
        &__adv-name{
            font-size: vw(20px);
            font-weight: 500;
        }
        &__adv-number{
            position: absolute;
        }
        &__adv-item_3{
            top: 75%;
            left: 0;
            transform: translateX(-100%) translateY(-50%);
        }
        &__adv-item_2{
            top: 25%;
            left: 0;
            transform: translateX(-100%) translateY(-50%);
        }
        &__adv-item_1{
            top: 50%;
            right: 0;
            transform: translateX(100%) translateY(-50%);
        }
        &__adv-item_active{
            background-color: $color-accent;
            align-items: flex-start;
            .shema__adv-name{
                color: $color-white;
                margin-bottom: 12px;
            }
            .shema__adv-txt{
                display: block;
                color: $color-white;
                font-weight: 300;
                font-size: vw(16px);
                line-height: 120%;
            }
            .shema__adv-bg{
                fill-opacity: 1;
            }
            .shema__adv-bg path{
                fill: $color-accent;
            }
        }
    }

}
.recomended{
    transition: 1s all ease-in-out;
    width: 100vw;
    height: calc(100vh + vw(32px));
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    margin-top:- vw(32px);
    position: absolute;
    top: 300vh;
    z-index: 5;
    padding: vw(120px) 0;
    background-color: $color-gray-light; 
    .recomended__link-mobile{
        display: none;
    }
    .recomended__products-mobile{
        display: none;
    }
    &_link-mobile, &__products-mobile{
        display: none;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: vw(40px);
    }
    &__link{
        padding: vw(12px);
        width: vw(151px);
        font-size: vw(16px);
        color: $color-gray;
        border-radius: 32px;
        border: 1px solid $color-gray-medium;
        display: flex;
        justify-content: center;
        font-weight: 400;
        background-color:  $color-white;
    }
    &__subtitle{
        text-align: start;
    }
    &__products{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: vw(24px);

    }
}
.gallary{
    transition: 1s all ease-in-out;
    width: 100vw;
    height: calc(100vh + vw(32px));
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    margin-top:- vw(32px);
    position: relative;
    z-index: 6;
    padding: vw(120px) 0;
    position: absolute;
    top: 400vh;
    background-color: $color-white;
    &__list-mobile{
        display: none;
    }
    &__title{
        text-align: center;
        margin-bottom: vw(40px);
        max-width: 38vw;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: vw(24px);
    }
    &__item{
        position: relative;
        height: 28vw;
    }
    &__item-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: 100%;
        z-index: 1;
        border-radius: 24px;
        overflow: hidden;
    }
    &__item-info{
        position: absolute;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        bottom: vw(24px);
        border-radius: 24px;
        transition: .5s all ease-in-out;
    }
    &__item-info-cat{
        position: absolute;
        top: 7%;
        right: 8%;
        padding: vw(4px) vw(8px);
        color:$color-accent;
        background-color: $color-accent-light;
        font-size: vw(14px);
        justify-content: center;
        border-radius:16px;
        display: none;
    }
    &__item-info-img{
        display: none;
    }
    &__item-info-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 17.4vw;
        padding: vw(16px);
        border-radius: 24px;
        background-color: $color-black-32;
        backdrop-filter: blur(10px);
        font-size: vw(16px);
        color: $color-white;
        cursor: pointer;
    }

    &__item-info-arrow{
        width: vw(18px);
        height: vw(18px);
    }
    &__item-info-arrow path{
        stroke: $color-white;
    }
    &__item-info_active{
        background-color: $color-white;
        padding: vw(16px);
        .gallary__item-info-bottom{
            background-color: $color-white;
            padding: 0;
        }
        .gallary_item-info-cat{
            display: flex;

        }
        .gallary__item-info-img{
            display: block;
            width: 100%;
            height: vw(228px);
            margin: 0 auto vw(16px);
            object-fit: cover;
            border-radius: 24px;;
        }
        .gallary__item-info-name{
            color: $color-accent;
        }
        .gallary__item-info-arrow path{
            stroke: $color-accent;
        }
    }
}

.faq{
    transition: 1s all ease-in-out;
    width: 100vw;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    margin-top:- vw(32px);
    z-index: 6;
    padding: vw(120px) 0;
    background-color: $color-accent-light;
    .container{
        display: grid;
        grid-template-columns: 32.3vw vw(644px);
        justify-content: space-between;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items:end;
        margin-bottom: vw(40px);
        grid-column: 1/3;
        .faq__txt{
            display: inline-block;
            max-width: vw(643px);
        }
    }
    &__title{
        margin-bottom: 0;
    }
    &__subtitle{
        text-align: start;
    }
    &__txt{
        font-size: vw(16px);
        line-height: 120%;
        margin-bottom: vw(32px);
    }
    &__left{
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: vw(586px);
    }
    &__right{
        display: flex;
        flex-direction: column;
        gap: vw(8px);
        justify-content: end;
    }
    &__item{
        background-color: $color-white;
        padding: vw(24px);
        border-radius: 24px;
        cursor: pointer;
        transition: .5s all ease-in-out;
    }
    &__item-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item-question{
        font-size: vw(20px);
        font-weight: 500;
        max-width: vw(480px);
    }
    &__item-answer{
        font-size: vw(16px);
        font-weight: 400;
        max-width: vw(480px);
        display: none;
        transition: .5s all ease-in-out;
        height: 0;
        overflow: hidden;
    }
    &__item-arrow{
        width:vw(48px);
        height: vw(48px);
        transition: .5s all ease-in-out;
    }
    &__btn{
        background-color: $color-accent;
        width: fit-content;
        border-radius: 32px;
        padding: vw(12px) vw(24px);
        color: $color-white;
        font-size: vw(16px);
        display: flex;
        gap: vw(8px);
        align-items: center;
        svg{
            width: vw(20px);
            height: vw(20px);
        }
    }
    &__item-active{
        .faq__item-top{
            margin-bottom: vw(8px);
        }
        .faq__item-answer{
            display: block;
            height: 100%;
        }
        .faq__item-arrow{
            transform: rotate(180deg);
            rect{
                fill:$color-black;
            }
            path{
                stroke: $color-white;
            }
        }
    }
}

.popup{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background: $color-black-32;
    &__close{
        cursor: pointer;
        position: absolute;
        top: 5%;
        right: 5%;
    }
    &__container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: vwmb(343px);
        background-color: $color-white;
        border-radius: 16px;
        padding: vwmb(24px);
        display: flex;
        gap: vwmb(8px);
    }
    &__adv-ico{
        width: vwmb(24px);
        height: vwmb(24px);
    }
    &__adv-name{
        font-size: vwmb(20px);
        font-weight: 500;
        margin-bottom: vwmb(12px);
        line-height: 100%;
    }
    &__adv-txt{
         font-size: vwmb(16px);
         line-height: 100%;
    }
    .main-screen__product-card{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
        visibility: visible;
        width: vwm(233px);
        padding: vwm(8px);
        background-color: $color-white;
        .main-screen__product-img{
            margin-bottom: vwm(16px);
        }
        .main-screen__product-name, .main-screen__product-price{
            padding: 0 vwm(8px);
        }
        .main-screen__product-name{
            font-size: vwm(16px);
            line-height: 100%;
            color: $color-black;
            font-weight: 500;
            margin-bottom: vwm(6px);
        }
        .main-screen__product-price{
            font-size: vwm(16px);
            font-weight: 600;
            color: $color-black;
            margin-bottom: vwm(8px);
            line-height: 100%;
        }
        .main-screen__product-bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@media(max-height: 800px){
    .faq__item{
        padding: 1vw;
    }
    .faq__left {
        height: 35.7vw;
    }
}

@media(max-width: 768px){
    .main-screen{
        padding: vwmb(82px) 0;
    }
    .main-screen__title, .main-screen__title .txt-right{
        text-align: center;
    }
    .main-screen__title{
        margin-bottom: vwmb(16px);
    }
    .main-screen__txt{
        font-size: vwmb(14px);
        line-height: 100%;
        max-width: vwmb(412px);
        margin: 0 auto 12vw;
    }
    .main-screen__advantages{
        display: none;
    }
    .main-screen__bottom{
        justify-content: center;
    }
    .main-screen__reviews .reviews__imgs img{
        height: vwmb(56px);
        width: vwmb(56px);
    }
    .main-screen__reviews .reviews__count{
        font-size: vwmb(40px);
    }
    .main-screen__reviews .reviews__txt{
        font-size: vwmb(14px);
        max-width: 20vw;
    }
    .main-screen__pots{
        margin-bottom: 12vw;
        transform: scale(2);
    }
    .categories{
        padding: vwmb(90px) vwmb(16px);
    }
    .categories__list{
        display: none;
    }
    .categories .categories__list-mobile{
        display: block;
    }
    .categories .swiper-slide .swiper-slide__link{
        svg{
            width: vwm(12px);
            height: vwm(12px);
        }
    }
    .chars{
         padding: vwmb(90px) vwmb(16px) 0;
    }
    .chars .shema__img{
        width: 44.5vw;
    }
    .shema__adv-list{
        display: none;
    }
    .shema__adv-list-mobile{
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .chars .shema__adv-list-mobile{
        display: block;
    }
    .shema__adv-item-mobile{
        width: vwmb(48px);
        height: vwmb(48px);
        background-color: $color-black-32;
        backdrop-filter: blur(10px);
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        cursor: pointer;
        span{
            background: $color-white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: vwmb(27px);
            height: vwmb(27px);
            border-radius: 100%;
            font-size: vwmb(16px);
        }
    }
    .shema__adv-item-mobile-1{
        right: -4%;
        top: 50%;
    }
    .shema__adv-item-mobile-2{
        top: 20%;
        left: -4%;
    }
    .shema__adv-item-mobile-3{
        bottom: 16%;
        left: -4%;
    }
    .recomended .recomended__products-mobile{
        display: block;
    }
    .recomended{
        padding: vwmb(90px) vwmb(16px) 0;
    }
    .recomended__link{
        display: none;
    }
    .recomended__top{
        justify-content: center;
    }
    .recomended__subtitle, .recomended__title{
        text-align: center;
    }
    .recomended__link-mobile{
        display: flex;
        margin: vwmb(24px) auto 0;
        font-size: vwmb(16px);
        width: fit-content;
        line-height: 100%;
        padding-left: vwmb(24px);
        padding-right: vwmb(24px);
    }
    .recomended__products{
        display: none;
    }
    .recomended__products-mobile{
        display: block;
        .product{
            width: 40vw;
        }
        .product__category{
            font-size: vwmb(14px);
            line-height: 100%;
            padding: vwmb(4px) vwmb(8px);
        }
        .product__name{
            font-size: vwmb(16px);
            line-height: 100%;
            margin-bottom: vwmb(4px);
        }
        .product__price{
            font-size: vwmb(24px);
            line-height: 100%;
        }
        .product .arrow-black{
            width: vwmb(48px);
            height: vwmb(48px);
        }
    }
    .gallary{
        padding: vwmb(90px) vwmb(16px) 0;
        .gallary__title{
            max-width: 100%;
        }
        .gallary__item{
            width: 40vw;
            height: 343px;
        }
        .gallary__item-info-bottom{
            padding: vwmb(16px);
            width: 35vw;
        }
        .gallary__item-info-name{
            font-size: vwmb(16px);
            line-height: 100%;
        }
        .gallary__item-info-arrow{
            width: vwmb(18px);
            height: vwmb(18px);;
        }
        .gallary__item-info_active .gallary__item-info-img{
            height: 200px;
        }
        .swiper-gallary__swiper-pagination{
            width: fit-content;
            margin: 8px auto 0;
        }
    }
    .gallary__list{
        display: none;
    }
    .gallary__list-mobile{
        display: block;
    }
    .faq{
        padding: vwmb(90px) vwmb(16px) 0;
        height: auto;
        .container{
            grid-template-columns: 1fr;
        }
        .faq__top{
            grid-column: 1/2;
            flex-direction: column;
            align-items: center;
        }
        .faq__subtitle{
            text-align: center;
        }
        .faq__title{
            text-align: center;
            margin-bottom: vwmb(16px);
        }
        .faq__top .faq__txt{
            text-align: center;
            font-size: vwmb(14px);
            line-height: 100%;
        }
        .faq__left{
            grid-row: 3/4;
        }
        .faq__right{
            margin-bottom: vwmb(16px);
        }
        .faq__item{
            padding: vwmb(16px);
        }
        .faq__item-question{
            font-size: vwmb(20px);
            line-height: 100%;
            max-width: 100%;
        }
        .faq__item-active .faq__item-top{
            margin-bottom: vwmb(12px);
        }
        .faq__item-active .faq__item-answer{
            font-size: vwmb(14px);
            line-height: 100%;
            max-width: 100%;
        }
        .faq__img{
            margin-bottom: vwmb(16px);
        }
        .faq__txt{
            font-size: vwmb(14px);
            line-height: 100%;
        }
        .faq__left{
            height: auto;
        }
        .faq__btn{
            padding: vwmb(12px) vwmb(24px);
            font-size: vwmb(14px);
            line-height: 100%;
            svg{
                width: vwmb(20px);
                height: vwmb(20px);
            }
        }
    }
    
    .cookie{
        left: 50%;
        transform: translateX(-50%);
    }
    .cookie__container{
        padding: vwmb(16px) vwmb(24px);
    }
    .cookie__img{
        width: vwmb(48px);
        height: vwmb(48px);
    }
    .cookie__txt{
        font-size: vwmb(14px);
        line-height: 100%;
        width: 48vw;
    }
    .cookie__btn{
        padding: vwmb(8px) vwmb(12px);
        font-size: vwmb(14px);
        line-height: 100%;
    }
}
@media(max-width: 460px){
    .main-screen{
        padding: vwm(82px) 0;
    }
    .main-screen__title{
        font-size: vwm(40px);
        line-height: 100%;
        text-align: left;
    }
    .main-screen__title .txt-right {
        text-align: left;
        font-size: vwm(40px);
        line-height: 100%;
        margin-bottom: vwm(16px);
    }
    .main-screen__txt{
        max-width: 100%;
        font-size: vwm(14px);
    }
    .main-screen__pots{
        display: none;
    }
    .main-screen__pots-mobile{
        display: block;
        width: 100vw;
        margin-left: - vwm(16px);
        position: relative;
    }
    .categories{
        margin-top: - vwm(32px);
        height: calc(100vh + vwm(32px));
        padding: vwm(120px) 0;
    }
    section{
        overflow: hidden;
    }
    .main-screen__reviews .reviews__imgs img{
        width: vwm(56px);
        height: vwm(56px);
    }
    .main-screen__reviews .reviews__count{
        font-size: vwm(40px);
        line-height: 100%;
    }
    .main-screen__reviews .reviews__txt{
        font-size: vwm(14px);
        max-width: 33vw;
    }
    .categories .swiper-slide .swiper-slide__container{
        width: vwm(280px);
        padding: vwm(16px);
    }
    .categories .swiper-slide .swiper-slide__img{
        width: 100%;
        height: 200px;
        margin-bottom: vwm(16px);
    }
    .categories .swiper-slide{
         width: vwm(300px) !important;
    }
    .categories .swiper-slide .swiper-slide__name{
        font-size: vwm(24px);
        margin-bottom: vwm(8px);
    }
    .categories .swiper-slide .swiper-slide__txt{
        font-size: vwm(14px);
    }
    .categories .swiper-slide .swiper-slide__link{
        font-size: vwm(16px);
        line-height: 100%;
        padding: vwm(12px) vwm(24px);
        svg{
            width: vwm(12px);
            height: vwm(12px);
        }
    }
    .main-screen__product-dot{
        width: vwm(32px);
        height: vwm(32px);
        background-color: $color-black-24;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        div{
            background-color: $color-white;
            width: vwm(14px);
            height: vwm(14px);
            border-radius: 100%;
        }
    }
    .main-screen__product-dot_1{
        top: 59%;
        left: 90%;
    }
    .main-screen__product-dot_2{
        top: 20%;
        left: 55%;
    }
    .main-screen__product-dot_3{
        top: 50%;
        left: 20%;
    }
    .chars{
        margin-top: - vwm(32px);
        height: calc(100vh + vwm(32px));
        padding: vwm(120px) 0;
        .shema{
            width: 85vw;
            bottom: 12%;
        }
        .shema__img{
            width: 85vw;
        }
        .shema__adv-item-mobile{
            width: vwm(48px);
            height: vwm(48px);
        }
        .shema__adv-item-mobile span{
            width: vwm(27px);
            height: vwm(27px);
            font-size: vwm(16px);
            line-height: 100%;
        }
    }
    .popup__container{
        width: vwm(342px);
        padding: vwm(24px);
        .popup__adv-ico{
            width: vwm(24px);
            height: vwm(24px);
        }
        .popup__adv-name{
            font-size: vwm(20px);
            line-height: 100%;
        }
        .popup__adv-txt{
            font-size: vwm(16px);
        }
    }
    .recomended{
        margin-top: - vwm(32px);
        height: calc(100vh + vwm(32px));
        padding: vwm(120px) 0;
        .recomended__products-mobile .product{
            width: vwm(280px);
            padding: vwm(16px);
        }
        .swiper-slide{
            width: vwm(300px) !important;
        }
        .recomended__products-mobile .product__category{
            padding: vwm(4px) vwm(8px);
            font-size: 14px;
        }
        .product__img{
            margin-bottom: vwm(16px);
        }
        .recomended__products-mobile .product__name{
            font-size: vwm(16px);
            margin-bottom: vwm(4px);
        }
        .recomended__products-mobile .product__price{
            font-size: vwm(20px);
        }
        .recomended__products-mobile .product .arrow-black {
            width: vwm(48px);
            height: vwm(48px);
        }
        .recomended__products-mobile{
            margin-bottom: vwm(24px);
        }
        .recomended__link-mobile{
            width: 100%;
            padding: vwm(12px);
            font-size: vwm(16px);
        }
    }
    .gallary{
        margin-top: - vwm(32px);
        height: calc(100vh + vwm(32px));
        padding: vwm(120px) 0;
        .gallary__title{
            margin-bottom: vwm(24px);
        }
        .gallary__item{
            width: vwm(300px);
        }
        .swiper-slide{
            width: vwm(310px) !important;
        }
        .gallary__item-info-bottom{
            width: vwm(260px);
            padding: vwm(16px);
            border-radius: 12px;
        }
        .gallary__item-info-name{
            font-size: vwm(16px);
        }
        .gallary__item-info-arrow{
            width: vwm(18px);
            height: vwm(18px);
        }
        .gallary__item-info{
            bottom: vwm(24px);
        }
    }
    .faq{
        margin-top: - vwm(32px);
        height: auto;
        padding: vwm(120px) 0;
        .faq__title {
            margin-bottom: vwm(16px);;
        }
        .faq__top .faq__txt{
            font-size: vwm(14px);
            max-width: 100%;
            line-height: 120%;
        }
        .faq__item {
            padding:  vwm(16px);
        }
        .faq__item-question {
            font-size: vwm(20px);
            width: 100%;
        }
        .faq__item-active .faq__item-top{
            margin-bottom: vwm(12px);
        }
        .faq__item-active .faq__item-answer{
            font-size: vwm(14px);
            line-height: 120%;
        }
        .faq__item-arrow{
            width: vwm(48px);
            height: vwm(48px);
        }
        .faq__right{
            gap: vwm(8px);
        }
        .faq__img{
            margin-bottom: vwm(16px);
        }
        .faq__txt {
            font-size: vwm(14px);
            line-height: 120%;
            margin-bottom: vwm(24px);
        }
        .faq__btn {
            padding: vwm(12px) vwm(24px);
            font-size: vwm(16px);
        }
        .faq__btn svg {
            width: vwm(20px);
            height: vwm(20px);
        }
    }
    .cookie__container{
        padding: vwm(16px) vwm(12px);
    }
    .cookie__img{
        width: vwm(48px);
        height: vwm(48px);
    }
    .cookie__txt{
        font-size: vwm(12px);
        width: 70vw;
    }
    .cookie__btn{
        padding: vwm(8px) vwm(12px);
        font-size: vwm(14px);
    }
}
