@use 'sass:math';
@function rem($size) {
    $remSize: math.div($size, 16px);
    @return #{$remSize}rem;
}
@function vw($size) {
    $vwSize: math.div($size, 14.4px);
    @return #{$vwSize}vw;
}
@function vwm($size) {
    $vwSize: math.div($size, 3.8px);
    @return #{$vwSize}vw;
}
@function vwmb($size) {
    $vwSize: math.div($size, 7px);
    @return #{$vwSize}vw;
}