$color-black: #1D1D1B;
$color-black-24:rgba(29, 29, 27, 0.24);
$color-black-32:  rgba(29, 29, 27, 0.32);
$color-gray: #585858;
$color-gray-medium: #D7D9DB;
$color-gray-light: #F5F5F7;
$color-white: #FFFFFF;
$color-accent: #5F760F; 
$color-accent-dark: #405007;
$color-accent-light: #EDF4E7;
$color-red: #BF2628;

    