header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    z-index: 999;
    .header__logo{
        width: rem(116px);
        height: rem(17px);
    }
    .row{
        display: flex;
        align-items:center;
        justify-content: space-between;
    }
    .header__right{
        display: flex;
        align-items:center;
        gap: 2rem;
        .header__social{
            display: flex;
            align-items:center;
            gap: 1rem;
            img{
                width: rem(20px);
                height: rem(20px);
                object-fit: contain;
            }
        }
        .header__cart{
            display: flex;
            align-items:center;
            gap: 0.5rem;
        }
    }
}