.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: rem(12px);
    padding-bottom: rem(12px);
    z-index: 999;
    &__logo{
        width: rem(116px);
        height: rem(17px);
    }
    > .container{
        position: relative;
        z-index: 2;
    }
    .hamburger-menu {
      width: vw(26px);
      height: vw(8px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
    }

    .bar {
      width: 100%;
      height: 2px;
      background-color: black;
      border-radius: 2px;
      transition: all 0.3s ease-in-out; 
    }
    .hamburger-menu.open .bar:nth-child(1) {
      transform: translateY(0) rotate(45deg);
      background-color: $color-red;
    }
    .hamburger-menu .bar:nth-child(2){
      display: none;
    }
    .hamburger-menu.open .bar:nth-child(3) {
          transform: translateY(-5px) rotate(-45deg);
          background-color: $color-red;
    }
    .row{
        display: flex;
        align-items:center;
        justify-content: space-between;
        position: relative;
    }
    &__right{
        display: flex;
        align-items:center;
        gap: 2rem;
        .header__social{
            display: flex;
            align-items:center;
            gap: 1rem;
            img{
                width: vw(20px);
                height: vw(20px);
                object-fit: contain;
            }
        }
        .header__cart{
            display: flex;
            align-items:center;
            gap: 0.5rem;
            cursor: pointer;
            img{
                width: vw(20px);
                height: vw(20px);
            }
        }
    }
    &__login{
        cursor:pointer;
        img{
        width: vw(20px);
        height: vw(20px);
        }
    }

    &__menu{
        background-color:$color-white;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: -100vh;
        left: 0;
        z-index: 1;
        padding-top: vw(90px);
        padding-bottom: vw(32px);
        transition: 1s all ease-in-out;
        .container{
            height: 84vh;
            display: flex;
            gap:vw(24px);
        }
        .header__menu-img{
            width: 32.2vw;
            height: 100%;
            object-fit: cover;
            border-radius: 24px;
            overflow: hidden;
        }
        .header__menu-content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 57.4vw;
            padding: vw(56px) 0;
        }
        .header__menu-left, .header__menu-right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .menu__name, .contact__name{
            color: $color-gray;
            font-size: vw(16px);
        }
        .menu__name{
            margin-bottom: vw(16px);
        }
        .contact__name{
            margin-bottom: vw(8px);
        }
        .contact__value{
            text-transform: uppercase;
            font-size: vw(16px);
        }
        .menu__list{
            display: flex;
            flex-direction: column;
            gap: vw(24px);
        }
        .menu__item a{
            font-size: vw(40px);
            font-weight: 500;
            letter-spacing: -2px;
            line-height: 100%;
        }
        .header__menu-contacts{
            display: flex;
            flex-direction: column;
            gap: vw(24px);
        }
        .socials{
            display: flex;
            gap: vw(16px);
        }
        .socials__link img{
            width: vw(40px);
            height: vw(40px);
            object-fit: cover;
        }
    }
    &__menu-active{
        top: 0;
    }
    .socials-mobile{
        display: none;
    }
}
@media(max-width: 768px){
    .header__right .header__social{
        display: none;
    }
    .header__cart span{
        display: none;
    }
    .header__right .header__cart img{
        width: vwmb(42px);
        height: vwmb(42px);
    }
    .header__login img{
        width: vwmb(42px);
        height: vwmb(42px);
    }
    .header__right{
        gap: vwmb(26px);
    }
    .header__logo{
        width: vwmb(120px);
        height: vwmb(28px);
    }
    .header .hamburger-menu{
        width: vwmb(42px);
        height: 2vw;
    }
    .header .hamburger-menu.open .bar:nth-child(1) {
        transform: translateY(5px) rotate(45deg);
    }
    .header__menu-img{
        display: none;
    }
    .header__menu .menu__name{
        font-size: vwmb(16px);
        margin-bottom: vwmb(16px);
        line-height: 100%;
    }
    .header__menu .menu__item a{
        font-size: vwmb(40px);  
        line-height: 100%;
    }
    .header__menu .header__menu-content{
        width: 100%;
    }
    .header__menu .contact__name{
        font-size: vwmb(14px);
        margin-bottom: vwmb(8px);
        line-height: 100%;
    }
    .header__menu .contact__value{
        font-size: vwmb(16px);
        line-height: 100%;
    }
    .header__menu .socials__link img{
        width: vwmb(40px);
        height: vwmb(40px);
    }
}
@media(max-width: 460px){
    .header{
        width: 100vw;
    }
    .header__logo{
        width: vwm(90px);
        height: vwm(14px);
    }
    .header .hamburger-menu {
        width: 8vw;
        height: 3vw;
    }
    .header__right .header__cart img, .header__login img{
        width: vwm(24px);
        height: vwm(24px);
    }
}
@media(max-width: 460px){
    .header__menu .header__menu-content {
        padding: vwm(74px) vwm(16px);
    }
    .header__menu .menu__name {
        font-size: vwm(16px);
        line-height: 120%;
        margin-bottom: vwm(16px);
    }
    .header__menu .menu__item a{
        font-size: vwm(24px);  
    }
    .header__menu .menu__list{
        gap: vwm(16px);
    }
    .header__menu .contact__name{
        font-size: vwm(16px); 
        margin-bottom: vwm(8px);
    }
    .header__menu .contact__value{
        font-size: vwm(16px);
    }
    .header__menu .header__menu-contacts{
        gap: vwm(24px);
    }
    .header__menu .container {
        height: 94vh;
    }
    .header__menu .header__menu-content{
        justify-items: center;
    }
    .header__menu .socials{
        display: none;
    }
    .header .socials-mobile{
        display: flex;
    }
    .header__menu .socials__link img{
        width: vwm(40px);
        height: vwm(40px);
        margin-top: vwm(16px);
    }
}